@import "_custommixins";
@import "_component-ui-defaults";

x-appbar {
  @include component-ui-background;
  font-family: $COMPONENT_UI_FONT_FAMILY;
  color: $COMPONENT_UI_TEXT_COLOR;
  font-size: $COMPONENT_UI_HEADER_FONT_SIZE;
  padding: 0;

  width: 100%;
  @include flexbox();
  @include boxSizing(border-box);
}

x-appbar > * {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  padding: 2px 5px 0;
}

x-appbar > *:first-child:before {
  display: none;
}

x-appbar > header {
  @include flex(1);

  overflow: hidden;
  text-overflow: ellipsis;
}

x-appbar > header:after {
  padding-left: 6px;
  font-size: 60%;
  content: attr(subheading);
}

/* Spacer style */
x-appbar > *:before {
  background-color: rgba(255,255,255,0.25);
  width: 2px;
  top: 0px;
  bottom: 0px;
  content: " ";
  position: absolute;
  left: 0px;
}
