x-appbar{padding:0;width:100%;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
x-appbar > *{position:relative;display:inline-block;border:none;padding:2px 5px 0;vertical-align:middle;text-align:center;background:none}
x-appbar > *:first-child:before{display:none}
x-appbar > header{min-width:auto;min-height:auto;-webkit-box-flex:1;-moz-box-flex:1;-webkit-flex:1;-ms-flex:1;box-flex:1;flex:1;overflow:hidden;text-overflow:ellipsis}
x-appbar > header:after{content:attr(subheading)}
